<%- include('../includes/header.ejs') %>
<div class=pokemons>
    <img src="img/mail_bg.png">
    <h1>Шановний <%= userName %> <%= userSurname %>!</h1>
    <p>Нажаль, Ваш акаунт був видалений!</p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
