<%- include('../includes/header.ejs') %>
<div class=pokemons>
    <h1>Шановний <%= userName %> <%= userSurname %>!</h1>
    <p>Нажалью, Ваш акаунт був видалений!</p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
