<%- include('../includes/header.ejs') %>
<div class=pokemons>
    <h1>Ваш ПРОФІЛЬ Змінено!</h1>
    <p><%= user.name %> <%= user.surname %></p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
